@model MMSApp.Models.Shop

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressFa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressFa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSiteAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSiteAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSharedAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSharedAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMultiAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMultiAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopFaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopFaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopCityPreCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopCityPreCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopBusinessLicenseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopBusinessLicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopBusinessLicenseIssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopBusinessLicenseIssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopBusinessLicenseExpireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopBusinessLicenseExpireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinesslicenseImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinesslicenseImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedirectUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedirectUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopNameFa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopNameFa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxPayerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxPayerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdaterUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdaterUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuildCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuildCategory.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
