@model MMSApp.Models.Entity.Psp

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف Psp</h1>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserShaparak)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserShaparak)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordShaparak)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordShaparak)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PspMmsUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PspMmsUsername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PspMmsPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PspMmsPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PspMmsPublicKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PspMmsPublicKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PspMmsPrivateKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PspMmsPrivateKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShaparakFtpPublicKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShaparakFtpPublicKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShaparakFtpPrivateKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShaparakFtpPrivateKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShaparakFtpUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShaparakFtpUsername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShaparakFtpPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShaparakFtpPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TerminalNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TerminalNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcceptorCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StepsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StepsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdaterUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdaterUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CutOffTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CutOffTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SettlementIban)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SettlementIban)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WageIban)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WageIban)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TlsHostCertificateFingerprint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TlsHostCertificateFingerprint)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
